.footer
  background-color: $primary
  padding-top: 38px
  padding-bottom: 45px
  color: $light
  &__row
    display: flex
    justify-content: space-between
    align-items: center
  & a
    color: $light
    cursor: default
  &__logo
    max-width: 394px
    max-height: 117px
    height: auto
    width: auto
  & .group:nth-of-type(1)
    margin-top: 11px
  &__phone
    margin-left: 8px
    font-size: 16px
    line-height: 24px
    & span
      font-size: 12px
  &__place
    margin-left: 8px
    font-size: 16px
    line-height: 24px


  & ul li
    font-size: 14px
    line-height: 25px
    font-weight: 400
    &:hover a
      opacity: 0.8
  &__social
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    & .group
      margin-top: 40px
  &__vk
    padding-left: 9px
  &__galaxy
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    line-height: 16px
    font-weight: 400
    & a
      padding-left: 4px
      text-decoration: none
  &__studio
    text-decoration: underline

