.partners
  padding-top: 22px
  & h4
    font-weight: 600
    font-size: 24px
    line-height: 24px
  &__group
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 36px
    margin-bottom: 50px

    width: 100%
    & button
      outline: none
      border: none
      cursor: default
      background-color: transparent
      &:hover
        cursor: default
      &:hover rect
        fill: $hover
        cursor: default
.links
  &__row
    margin-top: 45px
    & a
      text-decoration: none
      color: $primary
      font-size: 18px
      line-height: 24px

      & img
        display: block
        margin: 0 auto
      & span
        display: block
        margin: 0 auto
        margin-top: 11px
        text-align: center
        &:hover
          color: $hover
          cursor: default