.info
  background: url("../img/bg-pattern.png") center/cover no-repeat
  width: 100%
  height: auto
  &__group
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 80px
    padding-bottom: 80px

.group
  &__item
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 45px 12px
    max-width: 269px
    width: 100%
    max-height: 272px
    background-color: $light
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    & button
      position: relative
      outline: none
      border: none
      background-color: transparent
      &:hover
        & path
          fill: $hover
        & span
          color: $light


      & span
        position: absolute
        top: 15px
        left: 55px
        color: $primary
        line-height: 23px
        font-weight: 600

    & p
      font-size: 14px
      font-weight: 400
      color: darkgrey
