.news
  margin-top: 80px
  margin-bottom: 80px
  & h2
    font-size: 48px
    line-height: 62px
  &__page
    margin-top: 48px
  &__all
    margin-top: 29px
    padding: 8px 33px
    color: $primary
    outline: none
    background: $light
    border: 1px solid $primary
    border-radius: 35px
    font-size: 16px
    font-weight: 600
    line-height: 16px
    &:hover
      background: $hover
      color: $light
      cursor: default

.line
  width: 100%
  height: 1px
  background-color: #C4C4C4
  color: #C4C4C4

.page
  &__item
    margin-top: 47px
    text-decoration: none
    & svg:hover path
      fill: $hover
.item
  position: relative
  &__time
    position: absolute
    top: 5px
    left: 28px
    color: $light
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 900
    font-style: italic
    font-size: 30px
    line-height: 37px
  &__month
    font-style: italic
    font-size: 14px
    line-height: 17px
    font-weight: 400
    color: #818181
  & h3
    font-size: 18px
    font-weight: 600
    line-height: 23px
    color: $primary
    @media (max-width: $desktop)
      font-size: 15px

    &:hover
      color: $hover
      cursor: default

  & p
    margin-bottom: 0
    font-size: 14px
    color: #333333
    font-weight: 400
    line-height: 17px
  & img
    max-width: 118px
    max-height: 81px
    width: auto
    height: auto

.announcement
  & img
    margin-top: 47px
    max-width: 284px
    max-height: 169px
    width: auto
    height: auto
  &__group
    margin-top: 16px
    padding-left: 22px
    & h3
      margin-top: 16px
      font-size: 18px
      font-weight: 600
      line-height: 22px
      color: $dark
      &:hover
        color: $hover
        cursor: default
    & div
      margin-top: 18px
      margin-bottom: 18px
      background-color: #E5E5E5
    & span

      font-size: 14px
      line-height: 18px
      color: $primary
    & p
      margin-top: 10px
      font-size: 14px
      line-height: 17px
      font-weight: 400
  & button
    margin-top: 29px
    padding: 8px 35px
    color: #818181
    font-size: 16px
    background: $light
    border: 1px solid #C4C4C4
    border-radius: 35px
    &:hover
      background: $hover
      color: $light
      cursor: default

