.title
  position: relative
  &__slide
    width: 100%
    & img
      width: 100%

.navigation
  & button
    max-width: 42px
    max-height: 72px
    width: auto
    height: auto
    position: absolute
    top: 50%
    background-color: transparent
    outline: none
    border: none
    &:hover
      cursor: default
    @media (max-width: $tablet)
      transform: scale(0.5)

    &:hover rect
      fill: $hover
      cursor: default
  &__right
    right: 15%
  &__left
    left: 15%

.pagination
  position: absolute
  left: 45%
  bottom: 43px
  @media (max-width: $tablet)
    bottom: 10px
    left: 35%
    transform: scale(0.5)
  @media (max-width: $mobile)
    left: 35%
  &__circle
    margin-right: 16px
    width: 19px
    height: 19px
    background: rgba(255, 255, 255, 0.8)
    outline: none
    border: none
    border-radius: 50%
    &--active
      background-color: rgba(0, 130, 200, 0.8)


